:root 
{
    --text: hsl(0, 0%, 80%);
    --text-hover: #ff8c2e;
    --text-hover-white: hsl(0, 0%, 100%);
    --date: #b3b3b3;
    --background: #489aff;
    /* --blog-background: hsl(220, 5%, 15%); */
    --blog-background: hsl(0, 0%, 15%);
    /* --blog-background: hsl(0, 0%, 20%); */
    --blog-background-hover: hsl(0, 0%, 20%);
    --header-background: #3f3c3a;
    --header-background-hover: #ce878793;
    --border: hsl(0, 0%, 30%);
    --border-hover: hsl(0, 0%, 45%);
    --border-width: 1px;
    --box-shadow-main: 8px 8px 10px rgba(0, 0, 0, 0.3);
    --box-shadow-media: 2px 2px 1px rgba(0, 0, 0, 0.6);
}

html
{
    font-size: 1.2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text);
}

.date
{
    font-size: 0.9em;
}

body
{
    /* background-color: var(--background); */
    max-width: 58rem;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    /* margin: 0; */
    background-image: url(/media/backgrounds/background.png);
    background-color: #000000;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    /* background-color: #2c2c2c; */
}

h1
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h3
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h4
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h5
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

h6
{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
}

code
{
    background-color: #24292e;
    color: white;
    padding: 2px;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--border);
    border-width: 2px;
}

.astro-code.github-dark
{
    padding: 10px;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border);
    border-width: 2px;
}

.astro-code.github-dark code
{
    background-color: #24292e;
    color: white;
    padding: 0px;
    border-style: none;
}

header 
{
    padding: 15px;
    /* text-align: center; */
    margin: 0%;
    /* background-color: var(--blog-background); */
    background-image: linear-gradient(hsl(0, 0%, 20%), var(--blog-background));
    /* background-image: linear-gradient(hsl(0, 0%, 26%), var(--blog-background)); */
    border-style: solid;
    border-color: var(--border);
    /* border-top: 0px; */
    /* border-left: 0px;
    border-right: 0px; */
    border-width: var(--border-width);
    border-radius: 20px 20px 0px 0px;
    margin-top: 20px;
    box-shadow: var(--box-shadow-main);
}
header .name
{
    display: inline-block;
    padding-left: 20px;
    /* padding-right: 500px; */
    /* margin-right: 20px; */
    font-size: 1.5em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /* font-weight: 400; */
    font-style: normal;
    align-items: start;
}
header a
{
    display: inline-block;
    padding-left: 30px;
    padding-right: 0px;
    /* margin-right: 20px; */
    font-size: 1.2em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.3s;
}
header a:hover
{
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: var(--text-hover);
}

footer
{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    /* text-align: center; */
    margin-bottom: 20px;
    background-color: var(--blog-background);
    /* background-image: linear-gradient(var(--blog-background), hsl(0, 0%, 26%)); */
    border-style: solid;
    border-color: var(--border);
    /* border-left: 0px;
    border-right: 0px; */
    border-width: var(--border-width);
    border-radius: 0px 0px 20px 20px;
    box-shadow: var(--box-shadow-main);
}

.footer-container
{
    max-width: 58rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

footer a
{
    transition: 0.3s;
    padding-left: 10px;
}
footer a:hover
{
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    color: var(--text-hover-white);
}

.link-icon
{
    width: auto;
    /* width: 30px; */
    height: 25px;
    padding: 0;
    margin: 0;
    transition: 0.3s;
    /* fill: var(--text); */
}
footer a:hover .link-icon
{
    filter: brightness(120%);
}

* 
{
    box-sizing: border-box;
}
  
/* Create two equal columns that floats next to each other */
.column 
{
    float: left;
    width: 50%;
    /* padding: 10px; */
}

/* Clear floats after the columns */
.row:after 
{
  content: "";
  display: table;
  clear: both;
}

a:link 
{
    color: var(--text);
    text-decoration: none;
}
a:visited
{
    color: var(--text);
    text-decoration: none;
}
a:hover 
{
    color: var(--text);
}

.container
{
    max-width: 58rem;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.portfolio-container
{
    max-width: 70rem;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 8px;
    padding-right: 8px;
}

.container .content
{
    margin: 10px;
    padding: 20px;
    background-color: var(--blog-background);
    transition: 0.3s;
    font-size: 1em;
    border-style: solid;
    border-color: var(--border);
    /* border-left: 0px; */
    /* border-right: 0px; */
    /* border-top: 0px; */
    border-width: 2px;
    /* max-width: 40em; */
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
    display: flex;
    align-items: flex-start; /* Or center, depending on vertical alignment preference */
    gap: 1rem; /* Space between image and text */
    box-shadow: var(--box-shadow-main);
}

.container .content:hover
{
    /* background-color: var(--blog-background-hover); */
    background-image: linear-gradient(hsl(0, 0%, 20%), var(--blog-background));
    color: var(--text-hover-white);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); */
    border-color: var(--border-hover);
}

.content img {
  flex-shrink: 0; /* Prevent image from shrinking */
  /* This is where you control the image size */
  width: 250px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px; /* optional: rounded corners */
  border-style: solid;
  border-color: var(--border);
  border-width: 2px;
  transition: 0.3s;
  /* box-shadow: var(--box-shadow-media); */
}

.content:hover img {
    border-color: var(--border-hover);
}

.text-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home
{
    padding: 30px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    margin-left: auto;
    margin-right: auto;
    background-color: var(--blog-background);
    /* border-radius: 20px; */
    max-width: 68rem;
    border-style: solid;
    border-color: var(--border);
    border-top: 0px;
    border-bottom: 0px;
    border-width: var(--border-width);
    box-shadow: var(--box-shadow-main);
}

/* .home a:link 
{
    color: var(--text);
    text-decoration: underline;
    transition: 0.3s;
}
.home a:hover 
{
    color: var(--text-hover);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
} */

.about
{
    padding: 30px;
    /* margin-top: 20px; */
    /* margin-bottom: 20px; */
    margin-left: auto;
    margin-right: auto;
    background-color: var(--blog-background);
    /* border-radius: 20px; */
    max-width: 68rem;
    border-style: solid;
    border-color: var(--border);
    border-top: 0px;
    border-bottom: 0px;
    border-width: var(--border-width);
    box-shadow: var(--box-shadow-main);
}

.about a:link 
{
    color: var(--text);
    text-decoration: underline;
    transition: 0.3s;
}
.about a:hover 
{
    color: var(--text-hover);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.post
{
    max-width: 68rem;
    margin-left: auto;
    margin-right: auto;
}

.post .blog-post
{
    padding: 30px;
    /* margin: 20px; */
    background-color: var(--blog-background);
    /* border-radius: 20px; */
    border-style: solid;
    border-color: var(--border);
    border-top: 0px;
    border-bottom: 0px;
    border-width: var(--border-width);
    box-shadow: var(--box-shadow-main);
}

.post .portfolio-post
{
    padding: 30px;
    /* margin: 20px; */
    background-color: var(--blog-background);
    /* border-radius: 20px; */
    border-style: solid;
    border-color: var(--border);
    border-top: 0px;
    border-bottom: 0px;
    border-width: var(--border-width);
    box-shadow: var(--box-shadow-main);
}

.post a:link 
{
    color: var(--text);
    text-decoration: underline;
    transition: 0.3s;
}
.post a:hover 
{
    color: var(--text-hover);
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.post .portfolio-post video
{
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border);
    border-width: 2px;
    /* border-width: 3px; */
    /* box-shadow: var(--box-shadow-media); */
}

.post .portfolio-post video:fullscreen {
  border: none;
  border-radius: 0;
}

.post .portfolio-post img
{
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border);
    border-width: 2px;
    /* border-width: 3px; */
    /* box-shadow: var(--box-shadow-media); */
}

.post .blog-post video
{
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border);
    border-width: 2px;
    /* border-width: 3px; */
    /* box-shadow: var(--box-shadow-media); */
}

.post .blog-post video:fullscreen {
  border: none;
  border-radius: 0;
}

.post .blog-post img
{
    /* padding-top: 5px; */
    /* padding-bottom: 5px; */
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--border);
    border-width: 2px;
    /* border-width: 3px; */
    /* box-shadow: var(--box-shadow-media); */
}

.center 
{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.media-caption
{
    /* background-color: #272727; */
    /* background-color: red; */
    text-align: center;
    /* border-radius: 20px; */
    /* padding-top: 1%; */
    /* padding-bottom: 1px; */
    /* margin-top: 19.2px; */
}

.title
{
    margin-bottom: 5px;
    margin-top: 0px;
}

.pagination
{
    text-align: center;
    margin: 10px;
    padding: 20px;
}

.pagination .button
{
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--blog-background);
    transition: 0.3s;
    font-size: 1em;
    border-style: solid;
    border-color: var(--border);
    border-width: var(--border-width);
    border-radius: 10px;
    box-shadow: var(--box-shadow-main);
}

.pagination .button:hover
{
    background-color: var(--blog-background-hover);
    color: var(--text-hover-white);
    /* box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); */
    border-color: var(--border-hover);
}

.pagination .disable
{
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--border);
    transition: 0.3s;
    font-size: 1em;
    border-style: solid;
    border-color: var(--border);
    border-width: var(--border-width);
    border-radius: 10px;
}

@media screen and (max-width: 700px) 
{
    .container .content
    {
        display: grid;
    }
    .content img {
      width: 98%;
      height: auto;
      margin-left: auto;
      margin-right: auto;
    }
}

@media screen and (max-width: 679px) 
{
    /* header .name
    {
        display: inline-block;
        padding-left: 20px;
    } */
    header a
    {
        display: grid;
        padding-left: 30px;
        padding-right: 0px;
    }
}